*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    padding: 0 2.5%;  
}

section h1, h2{
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}

section{
    padding-top: 100px;
}


section h2{
    font-size: 22px;
}

p{
    text-align: justify;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER *******************************************************************/

.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 100px;
}

.navbar :hover{
    cursor: pointer;
}

.burger-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
}

.burger-icon span{
    width: 18px;
    height: 3px;
    margin-bottom: 3px;
    background-color: rgb(0, 0, 127);
    transition: 0.1s;
}

.cross-burger-1{
    position: absolute;
    transform: rotate(45deg);
    transition: 0.1s;
}

.cross-burger-2{
    display: none;
    transition: 0.1s;
}

.cross-burger-3{
    position: absolute;
    transform: rotate(-45deg);
    transition: 0.1s;
}

button{
    border: none;
    color: rgb(0, 0, 127);
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 10px;
}

.dropdown-menu{
    position: fixed;
    top: 100px;
    left: -250px;
    width: 240px;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.9);
    transition: 0.2s;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.sidebar{
    left: -10px;
    transition: 0.2s;
}

.dropdown-menu li{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 50px;
}

.dropdown-menu li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 127);
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    height: 50px;
}

.society{
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.society img{
    width: 56px;
    margin-right: 5px;
}

.society-name{
    text-align: center;
}

.society-name h1{
    font-family: 'Alex Brush', cursive;
    font-size: 1.8rem;
    color: rgb(0, 0, 127);
}

.society-name h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 127);
}

.specialities{
    display: flex;
    justify-content: space-between;
}

.specialities a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 127);
    -webkit-tap-highlight-color: transparent;
}

.specialities :first-child{
    margin-right: 20px;
}

.specialities :nth-child(2){
    margin-right: 10px;
}

/* MAIN IMG *******************************************************/

#main-image{
    padding-top: 100px;
    width: 100vw;
    height: 65vh;
    object-fit: cover;
}

/* CONSULTATION *****************************************************************/



/* Title */

/* Text */

/* Publics */

#publics{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}

#publics img{
    width: 128px;
    height: 128px;
    margin: 15px;
}

/* PROPOSITION *****************************************************************/

#proposition{
    background-color: rgb(240, 245, 255);
}

/* Articles */

.article-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.article{
    position: relative;
    width: 480px;
    height: 480px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 1px solid rgb(224, 224, 224);
    margin: 25px 25px;
}

.article h2{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 4.3% 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.article img{
    width: 480px;
    height: auto;
}

.article p{
    text-align: justify;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
}

.article p a{
    padding: 10px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 0.4rem;
    background-color: rgb(120, 167, 255);
}

.article p a:hover{
    border-radius: 0.4rem;
    color: aliceblue;
    background-color: rgb(0, 172, 77);
    transition: 0.1s;
}


/* FIVE-WOUNDS ******************************************************************/

.carrousel{
    width: 90%;
    max-width: 800px;
    overflow: hidden;
}

.slider{
    position: relative;
    width: 600%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 60s slidy infinite;
}

.slider img{
    width: 16.6667%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0%{left: 0%;}
    16%{left: 0%;}
    20%{left: -100%;}
    36%{left: -100%;}
    40%{left: -200%;}
    56%{left: -200%;}
    60%{left: -300%;}
    76%{left: -300%;}
    80%{left: -400%;}
    96%{left: -400%;}
    100%{left: -500%;}
}

/* FOOTER ***********************************************************************/

footer{
    margin-top: 100px;
    padding-top: 70px;
    width: 100%;
    background-color: rgb(120, 167, 255);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

footer div div h3{
    font-family: 'Alex Brush', cursive;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

#contact{
    max-width: 700px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-size: 1.2rem;
}

.copyright{
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content:space-evenly;
    font-size: 1rem;
}

#copy, #ets, #mail, #phone{
    width: 262px;
    justify-content: center;
    padding: 0 15px 50px;
}

#ets img{
    width: 22%;
    height: auto;
}

footer div div{
    display: flex;
    align-items: center;
}

/* RESPONSIVE *******************************************************************/


/* on screen min-width 1024px  */

@media only screen and (min-width: 1024px) {

    .navbar:hover .burger-icon span{
        background-color: rgb(149, 188, 223);
    }

    .navbar:hover button{
        color: rgb(149, 188, 223);
    }    

    .dropdown-menu li:hover a{
        color: rgb(149, 188, 223);
    }

    .society:hover .society-name h1, .society:hover .society-name h3{
        color: rgb(149, 188, 223);
    }

    .specialities :first-child:hover {
        color: rgb(149, 188, 223);
    }
    
    .specialities :nth-child(2):hover {
        color: rgb(149, 188, 223);
    }
}

/* on screen max-width 2382px  */

@media only screen and (max-width: 2382px) {

    .article-container{
        margin: 0 auto;
        max-width: 1595px;
    }
}

/* on screen max-width 1075px  */

@media only screen and (max-width: 1075px) {

    #publics{
        margin: 0 auto;
        max-width: 630px;
    }
}

/* on screen max-width 1024px  */

@media only screen and (max-width: 1024px) {

    .society img{
        width: 49px;
    }

    .article{
        margin: 10px 10px;
    }
}

/* on screen max-width 768px  */

@media only screen and (max-width: 768px) {

    .navbar{
        width: 38px;
    }

    .society{
        margin-right: 10px;
    }

    .specialities{
        width: 38px;
    }

    .specialities :first-child{
        display: none;
    }

    .specialities :nth-child(2){
        display: none;
    }

    button{
        display: none;
    }

    #main-image{
        height: 50vh;
    }
}

/* on screen max-width 425px  */

@media only screen and (max-width: 425px) {

    .dropdown-menu li{
        padding-left: 25px;
    }

    .specialities{
        display: none;
    }

    #main-image{
        height: 35vh;
    }

    .article{
        margin: 10px 0px;
    }
}