*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* HEADER *******************************************************************/

.container{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 70px;
}

.navbar :hover{
    cursor: pointer;
}

.burger-icon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 18px;
    height: 18px;
}

.burger-icon span{
    width: 18px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #551a8b;
    transition: 0.1s;
}

.navbar:hover .burger-icon span{
    background-color: rgb(149, 188, 223);
}

.cross-burger-1{
    position: absolute;
    transform: rotate(45deg);
    transition: 0.1s;
}

.cross-burger-2{
    display: none;
    transition: 0.1s;
}

.cross-burger-3{
    position: absolute;
    transform: rotate(-45deg);
    transition: 0.1s;
}

button{
    border: none;
    color: #551a8b;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 10px;
}

.navbar:hover button{
    color: rgb(149, 188, 223);
}

.dropdown-menu{
    position: fixed;
    top: 70px;
    left: -250px;
    width: 240px;
    height: 100%;
    background-color: aliceblue;
    transition: 0.2s;
    border-right: 1px solid rgba(0,0,0,0.2);
    z-index: 49;
}

.sidebar{
    left: -10px;
    transition: 0.2s;
}

.dropdown-menu li{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 50px;
}

.dropdown-menu li:hover a{
    color: rgb(149, 188, 223);
}

.dropdown-menu li a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.society{
    display: flex;
    align-items: center;
}

.society img{
    width: 56px;
}

.name{
    text-align: center;
}

.name h1{
    font-family: 'Alex Brush', cursive;
    font-size: 1.8rem;
}

.name h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.specialities{
    display: flex;
    justify-content: space-between;
}

.specialities a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.specialities :first-child{
    margin-right: 20px;
}

.specialities :nth-child(2){
    margin-right: 10px;
}

.selection{
    color: rgb(149, 188, 223);
}

/* on screen min-width 1024px  */

@media only screen and (max-width: 1024px) {

    .society img{
        width: 49px;
    }
/*
    button{
        font-size: 1rem;
    }

    .dropdown-menu li a{
        font-size: 1rem;
    }


    .name h1{
        font-size: 1.5rem;
    }

    .name h3{
        font-size: 1rem;
    }

    .specialities a{
        font-size: 1rem;
    }
    */
}

/* on screen min-width 768px  */

@media only screen and (max-width: 768px) {

    .specialities{
        width: 86px;
    }

    .specialities :first-child{
        display: none;
    }

    .specialities :nth-child(2){
        display: none;
    }

    button{
        display: none;
    }
}

/* on screen min-width 425px  */

@media only screen and (max-width: 425px) {

    .dropdown-menu li{
        padding-left: 25px;
        height: 30px;
    }
/*
    .dropdown-menu li a{
        font-size: 0.8rem;
    }

    .name h1{
        font-size: 1.2rem;
    }

    .name h3{
        font-size: 0.8rem;
    }
    */

    .specialities{
        width: 38px;
    }
}